<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <title>Gallery page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/gallery.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>
<body>








  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src = "/images/logo5.jpg" class = "w-50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto horizontal-list text-center nav-menu">
        <li class="nav-item active">
          <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/layout/show_services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/gallery/show_gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/hireus/show_hireus">Hire Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/crewform/show_crewform">Join Us</a>
        </li>
      </ul>
    </div>
  </nav>



















    <!-- <div id = "move-pages">
        <div id = "logo"><img src = "D:\images_team_crew/logo.png"></div>
        <div id = "move">
            <ul>
                <li><a href = "layout.html">Home</a></li>
                <li><a href = "services.html">Services</a></li>
                <li><a href = "gallery.html">Gallery</a></li>
                <li><a href = "crewform.html">Hire Us</a></li>
                <li><a href = "">Join Us</a></li>
            </ul>
        </div>
    </div> -->






    
        <h1 class="heading">Gallery</h1>
        <div class="box">
            
            
                <img src="/images/G5.jpg" class="g1     card col-lg-3 col-sm-5  mb-5" alt="">
            
           
                <img src="/images/G1.jpg" class="g1     card col-lg-3 col-sm-5  mb-5" alt="">
           
          
                <img src="/images/G3.jpg" class="g1     card col-lg-3 col-sm-5  mb-5" alt="">
            
            
                <img src="/images/G4.jpg" class="g1     card col-lg-3 col-sm-5  mb-5" alt="">
            
            
                <img src="/images/G7.jpg" class="g1     card col-lg-3 col-sm-5  mb-5" alt="">
            
            
                <img src="/images/G9.jpg" class="g1     card col-lg-3 col-sm-5  mb-5" alt="">
            
            
                <img src="/images/G10.jpg" class="g1     card col-lg-3 col-sm-5  mb-5" alt="">
           
           
                <img src="/images/G6.jpg" class="g1      card col-lg-3 col-sm-5  mb-5" alt="">
            
            
                <img src="/images/g11.jpg" class="g1      card col-lg-3 col-sm-5  mb-5" alt="">
            
            
                <img src="/images/corporateevent1.jpg" class="g1       card col-lg-3 col-sm-5  mb-5"alt="">
            
            
                <img src="/images/corporateevent.jpeg" class="g1         card col-lg-3 col-sm-5  mb-5" alt="">

                <img src="/images/mallpromotions.jpg" class="g1          card col-lg-3 col-sm-5  mb-5" alt="">

                <img src="/images/autoshow1.jpg" class="g1                card col-lg-3 col-sm-5  mb-5" alt="">

                <img src="/images/G2.jpg" class="g1                       card col-lg-3 col-sm-5  mb-5" alt="">

                <img src="/images/G12.jpg" class="g1                      card col-lg-3 col-sm-5  mb-5" alt="">

                <img src="/images/G8.jpg" class="g1                        card col-lg-3 col-sm-5  mb-5" alt="">

                <img src="/images/G13.jpeg" class="g1                     card col-lg-3 col-sm-5  mb-5" alt="">
                
                <img src="/images/G14.png" class="g1                      card col-lg-3 col-sm-5  mb-5" alt="">

                <img src="/images/G15.jpg" class="g1                      card col-lg-3 col-sm-5  mb-5" alt="">
                
                <img src="/images/G16.jpg" class="g1                      card col-lg-3 col-sm-5  mb-5" alt="">
                
                <img src="/images/G17.jpg" class="g1                      card col-lg-3 col-sm-5  mb-5" alt="">
                
                <img src="/images/G18.jpg" class="g1                      card col-lg-3 col-sm-5  mb-5" alt="">
                
                <img src="/images/G19.jpg" class="g1                      card col-lg-3 col-sm-5  mb-5" alt="">
                
                <img src="/images/G20.jpg" class="g1                      card col-lg-3 col-sm-5  mb-5" alt="">
                
        </div>



    <!-- footer -->


    <footer class="f1" id = "f1">
      <div id = "foot" class="foot">
      <div class="box1">
          <img src="/images/LogoMakerCa-1621766522762.png" class="imglogo" alt="">
          <p class="para">We are a staffing agency and we provide manpower and support services to our clients for various events. We are India's best event crew specialist and we possess an unrivalled depth of experience in our field.</p><h1 class="head">Follow Us</h1>
          <div class = "social-logo">
              <a href="https://www.facebook.com/var.crew.1" target="_blank">
                  <img alt="facebook" src="/images/fblogo.jpg"  class="fb">
              </a>
              <a href="https://www.instagram.com/theteamcrew01/" target="_blank">
                  <img alt="instagram" src="/images/instalogo.jpg" class="insta">
              </a>
          </div>

      </div>
      <div class="box2">
          <div class="inner"> <img src="/images/addresslogo.jpg" class="add" alt="">
              <p class="para1">Dwaraka Mor,New Delhi-110059<br>Landmark Dwaraka Mor Metro Station</p>
          
      </p></div>
              <h2 class="head2">Important links</h1>
              <div class="c1" >
              <div class="c2" ></div>
              <div class="c2" ></div>
          </div>
          <ul class="list">
              <li class="tems"><a href = "/">Home</a></li>
              <li class="tems"><a href = "/layout/show_services">Services</a></li>
              <li class="tems"><a href = "/gallery/show_gallery">Gallery</li></a>
              <li class="tems"><a href = "/hireus/show_hireus">Hire Us</li></a>
              <li class="tems"><a href = "/crewform/show_crewform">Join Us</li></a>
          </ul>
         
      </div>
      <div class="box3">
          <img src="/images/phonelogo.jpg" alt="" class="phonelogo">
          <ul>
              <li class="items">8383808799</li>
              <li class="items">9625190719</li>
              <li class="items">9818182426</li>
          </ul>
          <p>Email-ID:<br><p class ="gmail">theteamcrew01@gmail.com</p></p>
      </div>
      
      </div>
      <div class="box4">
          <p class="para3">Copyrights &copy; www.TheTeamCrew.com All rights Reserved</p>
      </div>
     
  </footer>








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



        
    
    
</body>
</html>