<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">

    <title>Team Crew</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

    <header>









        

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

        
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src = "/images/logo5.jpg" class = "w-50"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto horizontal-list text-center nav-menu">
          <li class="nav-item active">
            <a class="nav-link text-dark" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#join-us">Hire Us/Join Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#companies">Companies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#f1">About</a>
          </li>
        </ul>
      </div>
    </nav> -->



    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" font-size: 1.5rem !important; font-weight: bold  !important  ;">
        <a class="navbar-brand" href="/"><img src = "/images/logo5.jpg" class = "w-50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 10% !important;">
          <ul class="navbar-nav mr-auto horizontal-list text-center nav-menu">
            <li class="nav-item active">
              <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/layout/show_services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/gallery/show_gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/hireus/show_hireus">Hire Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/crewform/show_crewform">Join Us</a>
            </li>
          </ul>
        </div>
      </nav>







    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/hireus2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/hireus1.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      

</div>






    



















        <!-- <div id = "navigation-bar">
            <nav>

                <ul class="horizontal-list text-center nav-menu">
                    <li>
                        <a href="#"> Home </a>
                    </li>
                    <li>
                        <a href="#join-us"> Login/Register </a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#skills"> Skills </a>
                    </li>
                    <li>
                        <a href="#companies">Companies</a>
                    </li>
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                </ul>
    
            </nav>
        </div> -->




        <div id = "header-image">
            <!-- <img src="D:\images_team_crew/header.jpg" class="img-fluid" alt="Responsive image"> -->
        </div>

    </header>




    <div id = "join-us" class = "center margin-top">

        
            <div class="card text-center bg-danger" style="width: 45%;">
                <div class="card-body">
                  <h5 class="card-title">Hire Us</h5>
                  <p class="card-text card-font">If you’re a client and you need The Team Crew Staffing Services for your nextevent.</p>
                  <a href="/hireus/show_hireus" class="btn btn-primary bg-white text-success">Hire Us</a>
                </div>
            </div>
        

        
            <div class="card text-center bg-primary" style="width: 45%;">
                <div class="card-body">
                  <h5 class="card-title">Work With Us</h5>
                  <p class="card-text card-font">If you're talented enough than you can join our team & have a bright future in events.</p>
                  <a href="/crewform/show_crewform" class="btn btn-primary bg-white text-success">Join Us</a>
                  <!-- target="_blank" (if we want to open link in page) -->
                </div>
            </div>
        

    </div>





    <div id = "services" class = "topic">

        <div id = "services-name">
            Services
        </div>

        <div id = "services-list" class = "center">

            <div class="card col-lg-3 col-sm-5  mb-5" style="width: 18rem;">
                <img src="/images/promoter.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Promoters</h5>
                <p class="card-text">Event promoters carry out the advertising and marketing duties needed to make an event successful. A promoter is also responsible for passing out flyers, collecting customer information, and giving product information. We provide the ideal per day manpower for promotional activities. Our Promoters have strong communication skills, a talent for sales, a sense of initiative and a smart, presentable appearance.</p>
                </div>
            </div>

            <div class="card col-lg-3 col-sm-5  mb-5" style="width: 18rem;">
                <img src="/images/anchor.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Anchors</h5>
                <p class="card-text">Anchor is the master of ceremonies who acts as the host at an event. They help to represent the conference or event as a whole, while setting a fun and upbeat tone. Their responsibility is to keep the show on schedule and keeping the audience engaged. We have been recognized as the best manpower vendors for Auto Expo in Delhi, India, because of our brilliant Anchors.</p>
                </div>
            </div>

            <div class="card col-lg-3 col-sm-5  mb-5" style="width: 18rem;">
                <img src="/images/model.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Models</h5>
                <p class="card-text">Our Models are recruited from metropolitan cities like Delhi, Mumbai, Bangalore, Kolkata, etc. They are well experienced in brand promotion and will draw attention to your live marketing event and help elevate your brand presence no matter where you are activating. We are one of the most efficient manpower coordinators in India and the best for Auto Expo.</p>
                </div>
            </div>
            
        </div>
        <div class="nextbox">
        <!-- <a href="services.html" target="_blank" class="next">Read more</a> -->
        <a href = "/layout/show_services" class="next">See More</a>
    </div>
    </div>

    <!-- <div id = "services" class = "center">
        <div>
            Promoters
        </div>
        <div>
            Anchors
        </div>
        <div>
            Models
        </div>
    </div> -->







    <section id="skills" class = "color">
                    
        <h3 class = "heading-color">
            <span><i class="fas fa-chalkboard-teacher"></i></span>
             <span>SKILLS</span>
        </h3>
        
        <div class = "skill-name-outer-div take-center">
                            
            <div class = "each-skill">
                <div class = "hundred-percent" data-knowledge = "100">
                    <span class = "skill-name">ClientSatisfaction</span>
                </div>
                
            </div>
            
        </div>
        
    </section>






    

    <div id = "companies" class = "topic">

        <h1 id = "companies-name">
            Companies
        </h1>

        <div id = "our-partner-list" class = "center">

            <div class="card col-lg-3 col-sm-5  mb-5" style="width: 18rem;">
                <img src="/images/samsung.jpg" class="card-img-top" alt="...">
                <!-- <div class="card-body"> -->
                <!-- <h5 class="card-title">Samsung</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <!-- </div> -->
            </div>

            <div class="card col-lg-3 col-sm-5  mb-5" style="width: 18rem;">
                <!-- <img src="/images/paytm.jpg" class="card-img-top" alt="..."> -->
                <img src="/images/comp5.png" class="card-img-top" alt="...">
                <!-- <div class="card-body"> -->
                <!-- <h5 class="card-title">Paytm</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <!-- </div> -->
            </div>

            <div class="card col-lg-3 col-sm-5  mb-5" style="width: 18rem;">
                <img src="/images/sodexo.jpg" class="card-img-top" alt="...">
                <!-- <div class="card-body"> -->
                <!-- <h5 class="card-title">Sodexo</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <!-- </div> -->
            </div>
            <div class="card col-lg-3 col-sm-5  mb-5" style="width: 18rem;">
                <img src="/images/comp4.jpg" class="card-img-top" alt="...">
                <!-- <div class="card-body"> -->
                <!-- <h5 class="card-title">Sodexo</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <!-- </div> -->
            </div>
            <div class="card col-lg-3 col-sm-5  mb-5" style="width: 18rem;">
                <!-- <img src="/images/comp5.png" class="card-img-top" alt="..."> -->
                <img src="/images/paytm.jpg" class="card-img-top" alt="...">
                <!-- <div class="card-body"> -->
                <!-- <h5 class="card-title">Sodexo</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <!-- </div> -->
            </div> 
            <div class="card col-lg-3 col-sm-5  mb-5" style="width: 18rem;">
                <img src="/images/comp6.png" class="card-img-top" alt="...">
                <!-- <div class="card-body"> -->
                <!-- <h5 class="card-title">Sodexo</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <!-- </div> -->
            </div>




            



        </div>

    </div>



    <div id = "gallery" class="topic">

        <div id = "gallery-name">Gallery</div>

        <div id = "gallery-list" class = "center">

            
            
            <img src="/images/gallery1.jpg" class="img-fluid col-lg-4 col-sm-5  mb-5" alt="Responsive image">
        
            <img src="/images/G1.jpg" class="img-fluid col-lg-4 col-sm-5  mb-5" alt="Responsive image">
        
            <img src="/images/gallery3.jpg" class="img-fluid col-lg-4 col-sm-5  mb-5" alt="Responsive image">
        
            <img src="/images/gallery4.jpg" class="img-fluid col-lg-4 col-sm-5  mb-5" alt="Responsive image">
        
            <img src="/images/gallery5.jpg" class="img-fluid col-lg-4 col-sm-5  mb-5" alt="Responsive image">
        
            <img src="/images/G15.jpg" class="img-fluid col-lg-4 col-sm-5  mb-5" alt="Responsive image">

            <img src="/images/G9.jpg" class="img-fluid col-lg-4 col-sm-5  mb-5" alt="Responsive image">
        
            <img src="/images/G10.jpg" class="img-fluid col-lg-4 col-sm-5  mb-5" alt="Responsive image">
        
            <img src="/images/G15.jpg" class="img-fluid col-lg-4 col-sm-5  mb-5" alt="Responsive image">
            
        </div>
        <div class="nextbox">
            <!-- <a href="/gallery/show_gallery" target="_blank" class="next">Read More</a> -->
            <a href="/gallery/show_gallery" class="next">More</a>
        </div>

    </div>





    

    <!-- <div id = "about">
        <div id = "image">
            <img src="" alt = "logo">
        </div> -->

        <!-- <div id = "address" class="center">
            <p>Vikas Address</p>
            <p>Phone Number</p>
            <p>Gmail</p>
        </div> -->

    </div>








    <!-- <div id = "side-section">
        <a id = "facebook" class = "social-btn" target = "_blank" href = "http://www.facebook.com/sharer.php?u=http%3A%2F%2Fblog.codingninjas.in%2F2018%2F03%2F13%2Fa-step-by-step-walk-through-of-your-first-html-page%2F"><img class="social-img" src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000014_1549330414_facebook-logo.png" alt="fb">
        <a id="linkedin" class="social-btn" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&title=Best+Coding+Practices+for+Hassle-free+Programming&url=http%3A%2F%2Fblog.codingninjas.in%2F2018%2F04%2F02%2Fbest-coding-practices-for-hassle-free-programming%2F"><img class="social-img" src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000015_1549330433_linkedin-logo.png" alt="in"></a>

        <a id="twitter" class="social-btn" target="_blank" href="https://www.instagram.com/theteamcrew01/"><img class="social-img" src="/images/instalogo.jpg" alt="twi"></a>

        <a id="gmail" class="social-btn" target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Fblog.codingninjas.in%2F2018%2F04%2F02%2Fbest-coding-practices-for-hassle-free-programming%2F"><img class="social-img" src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000017_1549330467_google-logo.png" alt="g+"></a>

        <a id="whatsapp" class="social-btn" target="_blank" href="whatsapp://send?text=http%3A%2F%2Fblog.codingninjas.in%2F2018%2F04%2F02%2Fbest-coding-practices-for-hassle-free-programming%2F"><img class="social-img" src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000018_1549330485_whatsapp-logo.png" alt="w-app"></a>

    </div> -->





    <!-- footer -->


    <footer id = "f1" class="f1">
        <div id = "foot" class="foot">
        <div class="box1">
            <img src="/images/LogoMakerCa-1621766522762.png" class="imglogo" alt="">
            <p class="para">We are a staffing agency and we provide manpower and support services to our clients for various events. We are India's best event crew specialist and we possess an unrivalled depth of experience in our field.</p><h1 class="head">Follow Us</h1>
            <div class = "social-logo">
                <a href="https://www.facebook.com/The-Team-Crew-100709022224734/" target="_blank">
                    <img alt="facebook" src="/images/fblogo.jpg"  class="fb">
                </a>
                <a href="https://www.instagram.com/theteamcrew01/" target="_blank">
                    <img alt="instagram" src="/images/instalogo.jpg" class="insta">
                </a>
                <a href="https://www.linkedin.com/in/the-team-crew-9b2651213" target="_blank">
                    <img alt="instagram" src="/images/linkedin.jpeg" class="insta">
                </a>
            </div>

        </div>
        <div class="box2">
            <div class="inner"> <img src="/images/addresslogo.jpg" class="add" alt="">
                <p class="para1">Dwaraka Mor,New Delhi-110059<br>Landmark Dwaraka Mor Metro Station</p>
            
        </p></div>
                <h2 class="head2">Important links</h2>
                <div class="c1" >
                <div class="c2" ></div>
                <div class="c2" ></div>
            </div>
            <ul class="list">
                <li class="tems"><a href = "/">Home</a></li>
                <li class="tems"><a href = "/layout/show_services">Services</a></li>
                <li class="tems"><a href = "/gallery/show_gallery">Gallery</li></a>
                <li class="tems"><a href = "/hireus/show_hireus">Hire Us</li></a>
                <li class="tems"><a href = "/crewform/show_crewform">Join Us</li></a>
            </ul>
           
        </div>
        <div class="box3">
            <img src="/images/phonelogo.jpg" alt="" class="phonelogo">
            <ul>
                <li class="items">8383808799</li>
                <li class="items">9625190719</li>
                <li class="items">9818182426</li>
            </ul>
            <p>Email-ID:<br><p class ="gmail">theteamcrew01@gmail.com</p></p>
        </div>
        
        </div>
        <div class="box4">
            <p class="para3">Copyrights &copy; www.TheTeamCrew.com All rights Reserved</p>
        </div>
       
    </footer>













    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




    <!-- <script src = "../js/layout.js"></script> -->


    
</body>
</html>