<!DOCTYPE html>
<html>
<head>
    <title>Services</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/services.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>
<body>






    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" font-size: 1.5rem !important; font-weight: bold  !important  ;">
        <a class="navbar-brand" href="/"><img src = "/images/logo5.jpg" class = "w-50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 10% !important;">
          <ul class="navbar-nav mr-auto horizontal-list text-center nav-menu">
            <li class="nav-item active">
              <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/layout/show_services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/gallery/show_gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/hireus/show_hireus">Hire Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/crewform/show_crewform">Join Us</a>
            </li>
          </ul>
        </div>
      </nav>



    


    <!-- <div id = "move-pages">
        <div id = "logo"><img src = "D:\images_team_crew/logo.png"></div>
        <div id = "move">
            <ul>
                <li><a href = "layout.html">Home</a></li>
                <li><a href = "services.html">Services</a></li>
                <li><a href = "gallery.html">Gallery</a></li>
                <li><a href = "crewform.html">Hire Us</a></li>
                <li><a href = "">Join Us</a></li>
            </ul>
        </div>
    </div> -->






<div id = "topic">
    <div id = "services-name">
        Services
    </div>

    <div class = "center">
        <div class="card                col-lg-3 col-sm-5  mb-5 mx-2" style="width: 18rem; margin-bottom: 20px;">
            <img src="/images/G10.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Promoters</h5>
            <p class="card-text">Event promoters carry out the advertising and marketing duties needed to make an event successful. A promoter is also responsible for passing out flyers, collecting customer information, and giving product information. We provide the ideal per day manpower for promotional activities.</p>
            </div>
        </div>

        <div class="card               col-lg-3 col-sm-5  mb-5 mx-2" style="width: 18rem; margin-bottom: 20px;">
            <img src="/images/anchor.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Anchors</h5>
            <p class="card-text">Anchor is the master of ceremonies who acts as the host at an event. They help to represent the conference or event as a whole, while setting a fun and upbeat tone. Their responsibility is to keep the show on schedule and keeping the audience engaged. We have been recognized as the best manpower vendors for Auto Expo in Delhi, India, because of our brilliant anchors.</p>
            </div>
        </div>

        <div class="card               col-lg-3 col-sm-5  mb-5 mx-2" style="width: 18rem; margin-bottom: 20px;">
            <img src="/images/model.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Indian Models</h5>
            <p class="card-text"></p>Our Indian models are recruited from metropolitan cities like Delhi, Mumbai, Bangalore, Kolkata, etc. They are well experienced in brand promotion and will draw attention to your live marketing event and help elevate your brand presence no matter where you are activating. We are one of the most efficient manpower coordinators in India and the best for Auto Expo.</p>
            </div>
        </div>


        <div class="card                col-lg-3 col-sm-5  mb-5 mr-2" style="width: 18rem; margin-bottom: 20px;">
            <img src="/images/autoshow1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">International Models</h5>
            <p class="card-text">International models are hired to give a global look of your brand for the purpose of promotional and advertising activities. We bring you diversified and dynamic models from more than 20 countries for your event. Our models in Auto Expo have been an influencing part of the event industry since 2006.</p>
            </div>
        </div>

        <div class="card                  col-lg-3 col-sm-5  mb-5 mr-2" style="width: 18rem; margin-bottom: 20px;">
            <img src="/images/corporateevent.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Supervisors</h5>
            <p class="card-text">We have a team of devoted supervisors who are passionate about event industry. They are well trained in time and crew management; experienced in working for long odd hours; and smoothly dealing with crisis management. We are one of the India’s top manpower agencies with largest database of individuals with skills and experience to manage everything at your event.</p>
            </div>
        </div>

        <div class="card                  col-lg-3 col-sm-5  mb-5 mr-2" style="width: 18rem;  margin-bottom: 20px;">
            <img src="/images/bouncer.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Bouncers</h5>
            <p class="card-text">A person employed by a nightclub or similar establishment to prevent troublemakers and other unwanted people entering or to eject them from the premises, someone whose job is to stand outside a bar, party, etc. and either stop people who cause trouble from coming in or force them to leave</p>
            </div>
        </div>

        <!-- <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <img src="D:\images_team_crew\services_images/G10.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Brand Events</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> -->

        <div class="card             col-lg-3 col-sm-5  mb-5 mr-2" style="width: 18rem; margin-bottom: 20px;">
            <img src="/images/G5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Volunteers</h5>
            <p class="card-text">Volunteers have many tasks at hand like managing the crowd at events, greeting the guests, taking care of transportation, etc. The work of volunteers depends upon the requirements of the event. For example, being one of the manpower coordinators for Auto Expo, our volunteers had a lot of responsibilities to take care of.</p>
            </div>
        </div>

        <div class="card             col-lg-3 col-sm-5  mb-5 mr-2" style="width: 18rem; margin-bottom: 20px;">
            <img src="/images/G1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Host and Hostesses</h5>
            <p class="card-text">Our hosts and hostesses are bound to impress guests and ensure that they make it an incredible experience at your special occasion. Our hosts and hostesses are ideal for corporate functions, gala dinners, parties, ceremonies, product launches and more. We are known to be the best manpower suppliers for Auto Expo because of our enduring individuals.</p>
            </div>
        </div>

        <div class="card               col-lg-3 col-sm-5  mb-5 mr-2" style="width: 18rem; margin-bottom: 20px;">
            <img src="/images/corporateevent1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Support Services</h5>
            <p class="card-text">We are flexible and dynamic in our approach to provide support services like Data Entry Operators, F&B, Transportation, Attire and Make-up, Insurance, or any other aid our crew needs while working at your event to make it as hassle free as possible. And this attitude has made us established as the top event manpower services provider for Auto Expo in Delhi, India.</p>
            </div>
        </div>

        <div class="card               col-lg-3 col-sm-5  mb-5 mr-2" style="width: 18rem; margin-bottom: 20px;">
            <img src="/images/G9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">VIP Hospitality</h5>
            <p class="card-text">Hospitability is a must at any Event! By providing you with experienced people, who also have great communication and people pleasing skills we ensure you with the best hospitality for your VIP guests.</p>
            </div>
        </div>

        <!-- <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <img src="D:\images_team_crew\services_images/G4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Trade Shows</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> -->

        <!-- <div class="card" style="width: 18rem;  margin-bottom: 20px;">
            <img src="D:\images_team_crew\services_images/bouncer.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title topic">Bouncers</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> -->


    </div>
</div>



    <!-- footer -->


    <footer class="f1" id = "f1">
        <div id = "foot" class="foot">
        <div class="box1">
            <img src="/images/LogoMakerCa-1621766522762.png" class="imglogo" alt="">
            <p class="para">We are a staffing agency and we provide manpower and support services to our clients for various events. We are India's best event crew specialist and we possess an unrivalled depth of experience in our field.</p><h1 class="head">Follow Us</h1>
            <div class = "social-logo">
                <a href="https://www.facebook.com/The-Team-Crew-100709022224734/" target="_blank">
                    <img alt="facebook" src="/images/fblogo.jpg"  class="fb">
                </a>
                <a href="https://www.instagram.com/theteamcrew01/" target="_blank">
                    <img alt="instagram" src="/images/instalogo.jpg" class="insta">
                </a>
                <a href="https://www.linkedin.com/in/the-team-crew-9b2651213" target="_blank">
                    <img alt="instagram" src="/images/linkedin.jpeg" class="insta">
                </a>
            </div>

        </div>
        <div class="box2">
            <div class="inner"> <img src="/images/addresslogo.jpg" class="add" alt="">
                <p class="para1">Dwaraka Mor,New Delhi-110059<br>Landmark Dwaraka Mor Metro Station</p>
            
        </p></div>
                <h2 class="head2">Important links</h2>
                <div class="c1" >
                <div class="c2" ></div>
                <div class="c2" ></div>
            </div>
            <ul class="list">
                <li class="tems"><a href = "/">Home</a></li>
                <li class="tems"><a href = "/layout/show_services">Services</a></li>
                <li class="tems"><a href = "/gallery/show_gallery">Gallery</li></a>
                <li class="tems"><a href = "/hireus/show_hireus">Hire Us</li></a>
                <li class="tems"><a href = "/crewform/show_crewform">Join Us</li></a>
            </ul>
           
        </div>
        <div class="box3">
            <img src="/images/phonelogo.jpg" alt="" class="phonelogo">
            <ul>
                <li class="items">8383808799</li>
                <li class="items">9625190719</li>
                <li class="items">9818182426</li>
            </ul>
            <p>Email-ID:<br><p class ="gmail">theteamcrew01@gmail.com</p></p>
        </div>
        
        </div>
        <div class="box4">
            <p class="para3">Copyrights &copy; www.TheTeamCrew.com All rights Reserved</p>
        </div>
       
    </footer>






    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
</body>
</html>