.join-form h1 {
    text-align: center;
    color: red;
    margin-bottom: 2rem;
}

.join-form h3 {
    text-align: center;
    margin-bottom: 2rem;
}

#joinning {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.form {
    width: 40%;
    margin-bottom: 2rem;
    margin-right: 10%;
}

.btn1 {
    margin-right: 10%;
}

#hear-about-us {
    font-size: 0.8rem;
}

#start-form {
    margin-left: 10%;
    margin-right: 10%;
}

.btn {
    text-align: center;
}

